{% extends 'home.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>About FriendZone</title>
    {% endblock %}
</head>
<body>
{% block nav-active %}
<li><a href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a></li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false">{{ request.user.first_name }} <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="{% url 'profile_page' user %}">Profile</a></li>
        <li><a href="{% url 'edit_profile' %}">Edit Profile</a></li>
    </ul>
<li><a href="{% url 'messages' %}"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></li>
<li><a href="#">Follower Feed</a></li>
</li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="page-header" align="center">About FriendZone</h1>

                    <div>
                        <p><strong>Mission:</strong> To establish an open community in which users can solicit helpful,
                            unbiased
                            dating and
                            relationship advice from all walks of life.</p>
                        <p>
                            Dating and relationships can sometimes feel more complicated than rocket science. The aim at
                            FriendZone is to establish an open community in which we can make the art (and sometimes
                            science) of dating and relationships more manageable and hopefully easier to understand
                            through the accumulation and sharing of knowledge. We let users moderate themselves
                            and only intervene when a user's actions, comments, or behavior is highly inappropriate. At
                            FriendZone, we are advocates of free speech, and let people express themselves however they
                            choose to express themselves.We will only prevent them from making comments if it reaches a
                            point of any form of harassment, or if law enforcement has to get involved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
{% endblock %}
</body>
</html>