{% extends 'home.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <meta charset="UTF-8">
    <title>Edit Account Information</title>
    {% endblock %}
</head>
<body>
{% block nav-active %}
<li><a href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a></li>
<li class="dropdown; active">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false">{{ request.user.first_name }} <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="{% url 'profile_page' user %}">My Account</a></li>
        <li class="active"><a href="{% url 'edit_profile' %}">Edit Profile</a></li>
    </ul>
<li><a href="{% url 'messages' %}"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></li>
<li><a href="#">Follower Feed</a></li>
</li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form id="edit_profile" role="form" action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" value="Update Profile">

                {% if errors %}
                {% for error in errors %}
                <p><strong><font color="red">{{ error }}</font></strong></p>
                {% endfor %}
                {% endif %}
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
{% endblock %}
</body>
</html>