{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Send Message</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'signin.css' %}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
        <h2 class="page-header">Send Message to {{ recepient }}</h2>
        <form method="post" role="form" align="center">
            {% csrf_token %}
            {{ form|crispy }}<br>
            {% for message in messages %}
            <input type="hidden" name="parent_id" value="{{ message.id }}">
            {% endfor %}
            <input type="submit" class="btn btn-primary btn-lg" value="Send">
        </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>

</body>
</html>